body{
background-color: aliceblue;
text-align: center;

}
ol,ul{
    
    display: inline-block;
}
.left{
    text-align: left;
}
h1,h3{
    color: coral;
}
img{
    width: 300px;
    height: auto;
}
div{
    display: inline-block;
    margin-left: 25px;

}